.form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 20px;
  padding: 36px;
  max-width: 700px;
  margin: 24px auto;
  background: linear-gradient(to bottom right, #1c1c1c, #242424);
  background-size: 100% 100%;
  border-radius: 30px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.inputTitulo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 280px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.fieldSetContainerStacks {
  min-width: 280px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.containerInputStacks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  max-height: 140px;
  overflow: auto;
}

.inputStack {
  display: flex;
  gap: 20px;
  padding: 4px;
  transition: all 0.3s ease;
  width: 150px;
}

.inputStack:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  color: #000;
}

.inputStack:has(> .check:checked) {
  background-color: #f2f2f2;
  color: #000;
}

.inputStack:has(> .check:focus-visible) {
  outline: 4px auto -webkit-focus-ring-color;
}

.inputStack .check:focus-visible {
  outline: none;
}

.check {
  cursor: pointer;
}

.inputStack span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fieldSetContainerSnippet {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.containerCode {
  display: flex;
  height: 400px;
}
